server:
    port: 8080

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://${DATABASE_URL}:${DATABASE_PORT}/${DATABASE_DATABASE}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
    jpa:
        hibernate:
            ddl-auto: update
        generate-ddl: false
        properties:
            hibernate:
                default_batch_fetch_size: 1000
                show_sql: false
                format_sql: true
    profiles:
        include: oauth

springdoc:
    swagger-ui:
        path: /
        operationsSorter: method
        disable-swagger-default-url: true
        display-request-duration: true
    api-docs:
        path: /api-docs
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

jwt:
    expiration_time: 86400000
    secret: ${JWT_SECRET}

cloud:
    aws:
        s3:
            bucket: ${S3_BUCKET}
        stack.auto: false
        region.static: ap-northeast-2
        credentials:
            accessKey: ${S3_ACCESS_KEY}
            secretKey: ${S3_SECRET_KEY}